@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #06a2c2;
  }
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }
}